<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <link rel="stylesheet" href="/js/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.css">
  <script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
  <script src="/js/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.js"></script>
  <script type="text/javascript" src="/js/validateparameter.js"></script>
  <script src="/js/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="/js/jquery-ui-1.12.1.custom/jquery-ui.min.css">
    <style>
    .ui-progressbar {
      position: relative;
    }
    #progressbar .ui-progressbar-value {
    background-color: #ccff00;
    }
    .progress-label {
      position: absolute;
      left: 50%;
      top: 4px;
      font-weight: bold;
      text-shadow: 1px 1px 0 #fff;
    }
  </style>
  <script type="text/javascript">
    var gloabl_SID ='';
    $(document).ready(function(){
  });
    function ShowAddSID()
    {
      setTimeout(function(){$('#popupAddSID').trigger('create').popup('open');},300);
    }
    function ADDSID()
    {
      var key = $('#SID').val().replace(/\s/g,"");;
      var value = $('#PASSWD').val().replace(/\s/g,"");;
      // var key = $('#SID').val();
      // var value = $('#PASSWD').val();
      //var SIDdata = JSON.parse('{\"'+key + '\":\"' + value +'\"}');
      console.log("data is : " + '{\"'+key + '\":\"' + value +'\"}');
      //console.log("data is : " + JSON.parse(SIDdata));
      //console.log("stringify(data) is : "+ JSON.stringify(SIDdata,null,4));
      //$('#popupCloseRight').trigger('create').popup('open');
      if(!isValidSIDORPassword(key) || !isValidSIDORPassword(value))
      {
         setTimeout(function(){$('#popupSIDPASSWD').trigger('create').popup('open');},600);
         console.log("参数有误!");
         // $('#SID').text ='';
         // $('#PASSWD').text='';
         return false;;
      }
      var SIDdata = JSON.parse('{\"'+key + '\":\"' + value +'\"}');
      $.post('/addsid',SIDdata,function(data,status){
        //alert("数据：" + JSON.stringify(data) + "\n状态：" + status);
        if(data.status == 'ok')
        {
          setTimeout(function(){$('#popupREQOK').trigger('create').popup('open');},800);
          setTimeout(function(){$('#popupREQOK').popup('close');},2000);
          setTimeout(function(){window.location.reload();},2500);
        }
        else if (data.status == 'errexist') 
        {
           console.log('要添加的网关已存在列表中,请先删除后再添加!');
          // alert('请求失败!');
          setTimeout(function(){$('#popupERREXIST').trigger('create').popup('open');},800);
        }
        else
        {
          console.log('请求失败!');
          // alert('请求失败!');
          setTimeout(function(){$('#popupREQERROR').trigger('create').popup('open');},2000);
        }
      },"json").error(function(){
        console.log('请求失败!');
          setTimeout(function(){$('#popupREQERROR').trigger('create').popup('open');},600);
      });
    }
    function PREDELSID(SID) {
      // body...
        console.log("It will delete "+ SID);
        gloabl_SID = SID;
    }
    function POSTDELSID()
    {
      if (gloabl_SID=='') 
      {
        console.log('要删除的SID不能为空');
        //alert('要删除的SID不能为空');
        setTimeout(function(){$('#popupSIDEMPTY').trigger('create').popup('open');},2000);
        return;
      }
      $.post('/delsid',{SID:gloabl_SID},function(data,status){
        //alert("数据：" + JSON.stringify(data) + "\n状态：" + status);
        gloabl_SID='';
        if(data.status == 'ok')
        {
          
          setTimeout(function(){$('#popupREQOK').trigger('create').popup('open');},800);
          setTimeout(function(){$('#popupREQOK').popup('close');},2000);
          setTimeout(function(){window.location.reload();},2500);
        }
        else if (data.status == 'errnotexist') 
        {
           console.log('要删除的网关不存在!');
          // alert('请求失败!');
          setTimeout(function(){$('#popupERRNOTEXIST').trigger('create').popup('open');},800);
        }
        else
        {
          console.log('请求失败!');
          setTimeout(function(){$('#popupREQERROR').trigger('create').popup('open');},2000);
          //alert('请求失败!');
        }
      },"json").error(function(){
        console.log('请求失败!');
          setTimeout(function(){$('#popupREQERROR').trigger('create').popup('open');},600);
      });
    }
    function ApplyConfig()
    {
      $.post('/applyconfig',{},function(data,status){
        if(data.status == 'ok')
        {
          //此处弹出进度条
          setTimeout(function(){$('#popupProgress').trigger('create').popup('open');},800);
          setTimeout(function() {
                        var progressbar = $( "#progressbar" ),
                          progressLabel = $( ".progress-label" );
                     
                        progressbar.progressbar({
                          value: 0,
                          change: function() {
                            progressLabel.text( progressbar.progressbar( "value" ) + "%" );
                          },
                          complete: function() {
                            //progressLabel.text( "完成,页面跳转中！" );
                            setTimeout(function(){window.location.reload()},600);
                          }
                        });
                     
                        function progress() {
                          var val = progressbar.progressbar( "value" ) || 0;
                     
                          progressbar.progressbar( "value", val + 1 );
                          if ( val < 99 ) {
                            setTimeout( progress, 1500 );
                          }
                        }
                     
                        setTimeout( progress, 10 );
                      },800);
        }
        else
        {
          console.log('请求失败!');
          setTimeout(function(){$('#popupREQERROR').trigger('create').popup('open');},600);
        }
      },"json").error(function(){
        console.log('请求失败!');
          setTimeout(function(){$('#popupREQERROR').trigger('create').popup('open');},600);
      });
    }
  </script>
</head>

<body>

  <div data-role="page">
    <div data-role="header">
      <h1>小米网关配置</h1>
    </div>
    <div data-role="content">
    <a href="#popupAddSID" data-rel="popup" data-position-to="window" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-icon-plus ui-btn-icon-left ui-btn-a ui-btn-inline" data-transition="pop">添加网关</a>

    <a href="#popupApplyConfig" data-rel="popup" data-position-to="window" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-icon-check ui-btn-icon-left ui-btn-a ui-btn-inline" data-transition="pop">配置生效</a>

      <table  border="1" align="center" cellspacing="1" data-role="table" class="ui-responsive" style="margin-top:1px;margin-left:1px;margin-right:1px;margin-bottom:1px;">
        <thead>
          <tr>
            <th>SID</th>
            <th>Password</th>
            <th>执行操作</th>
          </tr>
        </thead>
        <tbody>
            <% for(var i =0; i < configobj['platforms'].length;i++) 
            {
              if(configobj['platforms'][i].platform == 'MiAqaraPlatform')
              {
        %>
        
                <!-- <%= JSON.stringify(configobj['platforms'][i].gateways).replace(/{/ig,'').replace(/}/ig,'').replace(/"/ig,'') %> -->

                <%  for(var gatewaykey in configobj['platforms'][i].gateways)
                {
                  %>
                  <tr>
                  <td style="vertical-align:middle"><%= gatewaykey.replace(/"/ig,'') %></td>
                  <td style="vertical-align:middle"><%= configobj['platforms'][i].gateways[gatewaykey].replace(/"/ig,'') %></td>
                  <!-- <td height="20px"><button id='<%= gatewaykey.replace(/"/ig,'') %>'  onclick='DELSID("<%= gatewaykey.replace(/"/ig,'') %>")'> 删除 </button></td> -->
                  <!-- <td style="vertical-align:middle"><a href="#popupDeleteGateWay" onclick='DELSID("<%= gatewaykey.replace(/"/ig,'') %>")' class="ui-btn ui-btn-inline ui-icon-delete ui-btn-icon-left"> -->

                     <!--  <a href="#popupDialog" data-rel="popup" data-position-to="window" data-transition="pop" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-icon-delete ui-btn-icon-left ui-btn-b">Delete page...</a> -->
                  <td style="vertical-align:middle"><a href="#popupDeleteGateWay" onclick='PREDELSID("<%= gatewaykey.replace(/"/ig,'') %>")' data-rel="popup"  data-position-to="window" data-transition="pop" class="ui-btn ui-btn-inline ui-icon-delete ui-btn-icon-left">删除</a></td>
                  </tr>
                <%
                }
                %>
        
        <% 
              }
            } 
        %>
          
        </tbody>
      </table>
    </div>
    <div data-role="footer">
        <div align="center"><a href="mailto:centurygate@163.com">centurygate@163.com</a></div>
      </div>

      <div data-role="popup" id="popupREQOK" data-overlay-theme="b" data-theme="b" data-dismissible="false" style="max-width:400px;">
          <div role="main" class="ui-content">
              <h3 class="ui-title ui-icon-check">执行成功!</h3>
          </div>
      </div>

      <div data-role="popup" id="popupSIDPASSWD" data-overlay-theme="b" data-theme="b" data-dismissible="false" style="max-width:400px;">
          <div role="main" class="ui-content">
              <h3 class="ui-title">SID 和 Password 只能为数字或字符,请重新添加!</h3>
              <a href="#" onclick="ShowAddSID()" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-alert" data-rel="back">确定</a>
          </div>
      </div>

      <div data-role="popup" id="popupSIDEMPTY" data-overlay-theme="b" data-theme="b" data-dismissible="false" style="max-width:400px;">
          <div role="main" class="ui-content">
              <h3 class="ui-title">要删除的SID不能为空!</h3>
              <a href="#" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-alert" data-rel="back">确定</a>
          </div>
      </div>
      <div data-role="popup" id="popupREQERROR" data-overlay-theme="b" data-theme="b" data-dismissible="false" style="max-width:400px;">
          <div role="main" class="ui-content">
              <h3 class="ui-title">向服务器请求失败,请检查网络设置!</h3>
              <a href="#" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-alert" data-rel="back">确定</a>
          </div>
      </div>

      <div data-role="popup" id="popupERREXIST" data-overlay-theme="b" data-theme="b" data-dismissible="false" style="max-width:400px;">
          <div role="main" class="ui-content">
              <h3 class="ui-title">要添加的网关已存在列表中,请先删除后再添加!</h3>
              <a href="#" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-alert" data-rel="back">确定</a>
          </div>
      </div>

      <div data-role="popup" id="popupERRNOTEXIST" data-overlay-theme="b" data-theme="b" data-dismissible="false" style="max-width:400px;">
          <div role="main" class="ui-content">
              <h3 class="ui-title">要删除的网关不存在!</h3>
              <a href="#" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-alert" data-rel="back">确定</a>
          </div>
      </div>
      
      
      <div data-role="popup" id="popupAddSID" data-theme="a" class="ui-corner-all">
          <form>
              <div style="padding:10px 20px;">
                  <h3>请填写SID和密码</h3>
                  <label for="SID" class="ui-hidden-accessible">SID:</label>
                  <input type="text" name="SID" id="SID" value="" placeholder="SID" data-theme="a" autocomplete="off">
                  <label for="PASSWD" class="ui-hidden-accessible">Password:</label>
                  <input type="text" name="PASSWD" id="PASSWD" value="" placeholder="Password" data-theme="a" autocomplete="off">
                  <!-- <button type="button" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-plus">确定</button> -->
                  <a href="#"  onclick = "ADDSID()" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-check" data-rel="back">确定</a>
                  <!-- <button type="submit" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-check">Sign in</button> -->
              </div>
          </form>
      </div>

      <div data-role="popup" id="popupApplyConfig" data-theme="a" class="ui-corner-all">
          <form>
              <div style="padding:10px 20px;">
                  <h3>将重启网关,确定操作?</h3>
                  <a href="#"  onclick = "ApplyConfig()" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-inline ui-btn-icon-left ui-icon-check" data-rel="back">确定</a>
                  <a href="#"  class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-btn-inline ui-icon-delete" data-rel="back">取消</a>
              </div>
          </form>
      </div>

      <div data-role="popup" id="popupProgress" data-overlay-theme="b" data-theme="b" data-dismissible="false" style="min-width:300px;max-width:400px;">
          <div role="main" class="ui-content">
              <h3 class="ui-title">请耐心等候,切勿断电!</h3>
              <div id="progressbar"><div class="progress-label"></div></div>
          </div>
      </div>

     <!--  <a href="#popupDialog" data-rel="popup" data-position-to="window" data-transition="pop" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-icon-delete ui-btn-icon-left ui-btn-b">Delete page...</a> -->
      <div data-role="popup" id="popupDeleteGateWay" data-overlay-theme="b" data-theme="b" data-dismissible="false" style="max-width:400px;">
          <!-- <div data-role="header" data-theme="a">
          <h3>提示</h3>
          </div> -->
          <div role="main" class="ui-content">
              <h3 class="ui-title">确定删除该网关?</h3>
      
              <a href="#" class="ui-btn ui-corner-all  ui-btn-inline ui-btn-b" data-rel="back">否</a>
              <a href="#" class="ui-btn ui-corner-all ui-btn-inline ui-btn-b" onclick='POSTDELSID()' data-rel="back" >是</a>
          </div>
      </div>

<!--        <div data-role="popup" id="popupCloseRight" data-overlay-theme="a" class="ui-content" style="max-width:280px">
              <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
          <p>&nbsp;&nbsp;存在非法参数&nbsp;&nbsp;</p>
      </div> -->

</body>
</html>